<table>
  <tr>
    <th></th>
    <% @numbers.each do |num| %>
      <th><%= num %></th>
    <% end %>
  </tr>
  <% @letters.each do |letter| %>
    <tr>
    <td class="letter"><%= letter %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
  <% end %>
</table>
