/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'IM Fell English SC', serif;
  color: #37220D;
}

ol {
  list-style-type: none;
}

input {
  border: 2px solid #37220D;
  border-radius: 10px;
}

input[type=submit] {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
}

input[type=radio]:checked {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked::before{
  background: #008CBA;
}

body {
  /*max-width: 900px;*/
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 3.5em;
}

.bottom-border {
  border-bottom: 1px solid #37220D;
}

.container {
  width: 90%;
  text-align: center;
  margin: auto;
}

/* STYLES FOR ALL BOARDS */
table {
  border: none;
  margin: auto;
}

td, th {
  border: 1px dashed #37220D;
  text-align: center;
}

.index-label {
  border: none;
  background-color: none;
}

/* CELL STATUS DISPLAY STYLES */
.water {
  background-color: #ABD4DD;
}

.ship {

}

.hit {

}

.miss {

}

/* OPPONENT BOARD STYLES */
.opp-board-container {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  float: right;
}

.opp-board {
  min-width: 700px;
  min-height: 700px;
}

.opp-board td, th {
  height: 50px;
  width: 50px;
  font-size: 1.1em;
}

.opp-board th {
  font-size: 1.5em;
}

.fire-form-and-own-board-container {
  width: 25%;
  float: left;
}

/* OWN BOARD STLYES */
.own-board-container {
  display: inline-block;
  vertical-align: bottom;
  margin-top: 100px;
}

.own-board {
  min-width: 300px;
  min-height: 300px;
  font-size: 1.1em;
}

.own-board td, th {
  height: 25px;
  width: 25px;
}

.own-board th {
  font-size: 1.4em;
}

/* SETUP BOARD STYLES */
.setup-container {
  font-size: 1.2em;
  width: 59%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 10px;
}

.setup-board-container {
  width: 35%;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.setup-board {
  min-width: 300px;
  min-height: 300px;
}

.setup-board td, th {
  height: 25px;
  width: 25px;
  font-size: 1.1em;
}

.setup-board th {
  font-size: 1.4em;
}

/* FIRE FORM STYLES */
.fire-form-container {
  display: inline-block;
  vertical-align: top;
}

.fire-form #coordinates {
  display: block;
  width: 90px;
  margin: 10px auto;
  text-align: center;
  padding: 5px;
  font-size: 2em;
}

.fire-form label {
  display: block;
  width: 180px;
  margin: 10px auto;
  text-align: center;
}

.misfire, .fire-form label {
  font-size: 1.3em;
}

