<!DOCTYPE html>
<html>
  <head>
    <title>Bumbleship</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">
  </head>

  <body>
    <h1 class="bottom-border">Battleship!</h1>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
